.linkk{
    width: 100%;
    display: inline-flex;
    color: #000000;
    text-decoration: none;
    transition: all 1s;
    border-radius: 5px;
  }
  .linkk:hover{
    background:rgba(91, 81, 81, 0.201);
    color: black;
    transition: all 0.5s;
  }
  .active-link{
    background: #FEAF00;
    color: black;
    border-radius: 5px;
    width: 100%;
    display: inline-flex;
  }